body {
    margin: 0;
    padding: 0;
}
header {
    background-color: #0FAAE8;
    height: 75px;
}

a {
    text-decoration: none;
    color: darkblue;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-context {
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    justify-content: center;
}

li {
    display: flex;
    margin: 0 15px;
    color: white;
}
/* .content {
    display: flex;
} */
