{% extends 'base.html' %}


{% block head %}
<title>logowanie</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'user_panel/css/login_style.css' %}">
{% endblock head %}

{% block navbar %}
{% endblock navbar%}

{% block content %}
<div class='form-container'>
  <div id="form-errors">
  {% if form.errors %}
    <p class='form-field'>Twoja nazwa użytkownika bądź hasło nie zgadzają się, prosimy spróbować ponownie.</p>
  {% endif %}

  {% if user.is_authenticated %}
    <p class='form-field'>Jesteś zalogowany !</p>
    <p class='form-field'><a href="{% url 'post:home-view' %}">Wróć do strony głównej</a></p>
  {% else %}

    {% if next %}
      {% if user.is_authenticated %}
        <p class='form-field'>Twoje konto nie posiada uprawnień do tej witryny. Aby kontynuować,
          prosimy zalogować się na konto z dostępem.</p>
      {% else %}
        <p class='form-field'>Zaloguj się aby mieć dostęp do tej witryny.</p>
      {% endif %}
    {% endif %}
  </div>
    <div class='form-window'>
      <h3>Zaloguj</h3>
      <form method="post" action="{% url 'user_panel:login' %}">
        {% csrf_token %}

          <table class='form-field'>
            <tr>
              <td>{{ form.username.label_tag }}</td>
              <td placeholder="">{{ form.username }}</td>
            </tr>
            <tr>
              <td>{{ form.password.label_tag }}</td>
              <td>{{ form.password }}</td>
            </tr>
          </table>

          <p><a href="{% url 'user_panel:password_reset' %}">Nie pamiętasz hasła ?</a></p>
          <p><a href="{% url 'user_panel:create-user' %}">Zarejestruj się</a></p>
          <input class='form-field button-submit' type="submit" value="Potwiedź" />
          <input type="hidden" name="next" value="{{ next }}" />
      </form>
    </div>
  {% endif %}
</div>
{% endblock %}
