{% extends 'base.html' %}


{% block head %}
<title>Odzyskiwanie hasła</title>
{% endblock head %}

{% block navbar %}
{% endblock navbar %}

{% block content %}
  <p>Wprowadź swój adres e-mail, wyślemy na niego przekierowanie do panelu resetowania hasła.</p>
  <form action="" method="post">
  {% csrf_token %}
  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}
      <p>{{ form.email }}</p>
    <input type="submit" class="btn btn-default btn-lg" value="Wyślij e-mail">
  </form>
{% endblock %}

