{% extends 'base.html' %}


{% block head %}
<title>Rejestracja</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'user_panel/css/registration_style.css' %}">
{% endblock head %}

{% block navbar %}
{% endblock navbar%}

{% block content %}
    <div class="form-container">
        <form action="" method="post">
            <h3>Rejestracja</h3>
            {% csrf_token %}
            <div class='form-field input'>
                {{ form.as_p }}
            </div>
            <div>
                <button class="form-field button-submit" type="submit">Zarejestruj konto</button>
            </div>
            <div>
                <p class="form-field">Posiadasz już konto ? <a href="{% url 'user_panel:login' %}? next={{ request.path }}">Zaloguj</a> </p>
            </div>
        </form>
    </div>
{% endblock %}