{% extends 'base.html' %}


{% block head %}
<title>Edycja</title>
{% endblock head %}

{% block navbar %}
{% include 'search_navbar.html' %}
{% include 'login_navbar.html' %}
{% endblock navbar %}

{% block content %}

<div class="post-delete">
    <form action='.' method='POST'>{% csrf_token %}
        <h3>Czy na pewno chcesz usunąć swój komentarz ?</h3>
        <p class="object">{{ object.content }}</p>
        <p>
            <input class="button-submit-delete" type='submit' value='Usuń ten komentarz'/>
            <a href='../update/' class="button-cancel">Zabierz mnie stąd</a>
        </p>
    </form>
</div>

{% endblock %}