{% extends 'base.html' %}


{% block head %}
<title>Edycja</title>
{% endblock head %}

{% block navbar %}
{% include 'search_navbar.html' %}
{% include 'login_navbar.html' %}
{% endblock navbar %}

{% block content %}

<div class="comment-edit-container">
    <form action='.' method='POST'>{% csrf_token %}
        <div class="object">{{ form.as_p }}</div>
        <p>
            <a href="../../" class="button-cancel">Anuluj zmiany</a>
            <input class="button-submit" type='submit' value='Zatwierdź zmiany'/>
            <a href="../delete/" class="button-submit-delete">Usuń komentarz</a>
        </p>
    </form>
</div>
{% endblock %}