{% extends 'base.html' %}


{% block head %}
<title>Edycja</title>
{% endblock head %}

{% block navbar %}
{% include 'search_navbar.html' %}
{% include 'login_navbar.html' %}
{% endblock navbar %}

{% block content %}

<div class="post-delete">
<h2>Czy na pewno chcesz usunąć ten post ?</h2>
    <form action='.' method='POST'>{% csrf_token %}
        <div class="object">
            <p class="post-title">{{ object.title }}</p>
            <p class="post-content">{{ object.content }}</p>
        </div>
        <p>
            <input class="button-submit-delete" type='submit' value='Usuń ten post'/>
            <a href='../update/' class="button-cancel">Zabierz mnie stąd</a>
        </p>
    </form>
</div>
{% endblock %}