{% extends 'base.html' %}


{% block head %}
<title>{{ object.title }}</title>
{% endblock head %}

{% block navbar %}
{% include 'search_navbar.html' %}
{% include 'login_navbar.html' %}
{% if user.is_authenticated %}
{% else %}
{% include 'registration_navbar.html' %}
{% endif%}
{% endblock navbar %}

{% block content %}
<div class="object">
    <div class="post-header-container">
        <h4 class="post-title">{{ object.title }}</h4>
        {% if object.date_create == object.date_modified %}
            <h4 class="post-date">{{ object.author }} napisał {{ object.date_create }}</h4>
        {% else %}
            <h4 class="post-date">{{ object.author }} napisał {{ object.date_create }} ostatnio modyfikował {{ object.date_modified }}</h4>
        {%  endif %}
        {% if user.is_authenticated and user == object.author %}
            <a class='post-edit-href' href="update/">Edytuj post</a>
        {% endif %}
    </div>
    <div class="post-header-container">
        <p class="post-content">{{ object.content }}</p>
    </div>
    <div class="add-comment-content">
        {% if user.is_authenticated %}
            <form class="add-comment-form" action='.' method='POST'>{% csrf_token %}
                {{ form.content }}
                <input class="button-add-comment" type='submit' value='Dodaj komentarz'/>
            </form>
        {% else %}
            <div id="statement-adding-comment">
                <h4>
                    Aby dodawać komentarze musisz się
                    <a href="{% url 'user_panel:login' %}? next={{ request.path }}" class="button-a">zalogować</a>.
                </h4>
            </div>
        {% endif %}
    </div>

    <a class="comment-container">
        {% for comment in comments %}
        <div class="comment">
            <h5 id="comment-author">{{ comment.author }}</h5>
            <p class="comment-content">{{ comment.content }}</p>
        </div>
        <h6 class="comment-date">{{ comment.date_create }}
            {% if user == comment.author %}
                <a class='button-comment-update' href="{{ comment.id }}/update/">Edytuj</a>
                <a class='button-comment-delete' href="{{ comment.id }}/delete/">Usuń</a>
            {% endif %}
        </h6>
        {% endfor %}
    </a>
</div>

{% endblock content %}
