<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'base_style.css' %}">

    {% block head %}
    <title>Strona domowa</title>
    {% endblock head %}

</head>
<body>
    <div class="header-container">
        <h1 id="name"><a href='/'>Forum</a></h1>
        <div class="header-context">
            <ul>

                {% block navbar %}

                {% endblock navbar %}

            </ul>
        </div>
    </div>
    <div class="block-content">

        {% block content %}

        {% endblock content %}

    </div>
</body>
</html>