<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Strona domowa</title>
</head>
<body>
    <h1><a href='/'>Forum</a></h1>
    {% if user.is_authenticated %}
        <h3>Cześć {{user}}!</h3>
    {% else %}
        <h3>Cześć Użytkowniku !</h3>
    {% endif %}

    <ul class = "sidebar-nav">
        {% if user.is_authenticated %}
            <li> Użytkownik: {{user.get_username}} </li>
            <li><a href="{% url 'user_panel:logout' %}? next={{ request.path }}">Wyloguj się</a></li>
        {% else %}
            <li>Nie jesteś zalogowany</li>
            <li><a href="{% url 'user_panel:login' %}? next={{ request.path }}">Zaloguj się</a></li>
        {% endif %}
        <li> <a href="{% url 'user_panel:create-user' %}">rejestracja</a></li>
    </ul>

    <h2><p><a href="{% url 'post:post-create' %}">Dodaj własny post</a></p></h2>
    {% block content %}

    {% endblock %}

</body>
</html>